@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs md:text-sm tracking-widest text-gray-500 transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40;
  }
  .contactInput {
    @apply w-full text-sm md:text-lg outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40;
  }
  .aboutImage {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    @apply relative object-cover w-32 h-32 md:w-80 md:h-80 xl:w-[400px] xl:h-[500px];
  }
  .heroImage {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    @apply relative  h-32 w-32 mx-auto object-cover;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

/* custom scroll bar  */
::-webkit-scrollbar {
  width: 0.5rem !important;
}
